@use "../../foundation" as *;

.c-menu-icon {
    display: flex;
    flex-direction: column;
    padding: 15px;
    @include contentBox($width: 80px, $height: 50px, $color: $white, $scrollable: false);
    align-items: center;
    justify-content: center;

    &__img {
        width: 25px;
        height: 25px;
        margin-bottom: 10px;
    }

    &__name {
        font-size: 10px;
    }

}